:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 400px;
  width: 100%;
  height: 100%;
}

.demo-chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  height: 100%;
  position: relative;

  > div {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 0;
    flex: 1;
  }

  div[echarts] {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 0;
  }
}
