<div class="flex gap-4 px-4 py-2 border border-white/30 shadow-lg rounded-lg text-white">
  <input
    type="text"
    placeholder="Filter by name"
    class="border border-white/30 rounded-md p-2 text-white placeholder-white/40"
    (input)="updateName($any($event.target).value)"
  />

  <input
    type="text"
    placeholder="Filter by symbol"
    class="border border-white/30 rounded-md p-2 text-white placeholder-white/40"
    (input)="updateSymbol($any($event.target).value)"
  />

  <input
    type="number"
    placeholder="Min market cap"
    class="border border-white/30 rounded-md p-2 text-white placeholder-white/40"
    (input)="updateMarketCap($any($event.target).valueAsNumber || null)"
  />
  <div class="flex gap-2">
    <button
      class="bg-gray-700 text-white px-4 py-2 rounded-md cursor-pointer hover:bg-gray-600"
      (click)="reset()"
    >
      Reset
    </button>
  </div>
</div>
