:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 400px;
  width: 100%;
  height: 100%;
}

.truncate-cell {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
